@import "tailwindcss";

@plugin "tailwindcss-logical";
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

@theme {
  /* Colors */
  --color-blue-950: hsl(223, 30%, 9%);
  --color-blue-900: hsl(223, 36%, 14%);
  --color-blue-500: hsl(223, 20%, 46%);
  --color-red-500: hsl(0, 97%, 63%);
  /* Fonts */
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-13: 0.8125rem;
  --text-14: 0.875rem;
  --text-15: 0.9375rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-20-letter-spacing: -0.3px;
  --text-24: 1.5rem;
  --text-32: 2rem;
  --text-32-letter-spacing: -0.5px;

  /* Spacing */
  --spacing-18: 4.5rem;

  /* Grid */
  --my-grid-cols-card-mobile: repeat(auto-fit, minmax(163px, 1fr));
  --my-grid-cols-card-tablet: repeat(auto-fit, minmax(218px, 1fr));
  --my-grid-cols-card-desktop: repeat(auto-fit, minmax(230px, 1fr));
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
  line-height: 1.25;
}
